# ===================================================================
# Spring Boot 会自动扫描 classpath 下的 application.yml 文件，如果有就加载文件配置
#
# Spring Boot 中多环境配置文件名需要满足 application-{profile}.yml 的格式，{profile} 对应你的环境标识
# 本地环境 application-local.yml
# 开发环境 application-dev.yml
# 测试环境 application-test.yml
# 生产环境 application-prod.yml
# 多环境配置文件激活属性
# 本地环境 local
# 开发环境 dev
# 测试环境 test
# 生产环境 prod
# ===================================================================

# 应用名称配置
spring.application:
  name: project

# 多环境配置
spring.profiles:
  active: dev

# 文件上传相关配置项
spring.servlet.multipart:
  max-file-size: 1024MB # 单个文件大小
  max-request-size: 1024MB # 设置总上传的文件大小

# 请求相关配置项
spring.codec:
  max-in-memory-size: 128MB

# Flyway 配置
spring.flyway:
  enabled: false  # 禁用自动执行，由 FrameworkFlyway 手动控制

# 监控端点配置
management.server:
  port: 8085

# 服务器配置
server:
  port: 8088

# 自动建表配置
auto-table:
  enable: true
  show-banner: false
  super-insert-position: after
  index-prefix: idx_
  mysql:
    column-default-collation: utf8mb4_general_ci
    column-default-charset: utf8mb4
    table-default-collation: utf8mb4_general_ci
    table-default-charset: utf8mb4
  record-sql:
    enable: true
    record-type: db
    version: 1.0.0
  init-data:
    enable: false

# 文档生成配置
springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

# 搜索引擎配置
easy-es:
  banner: false
  global-config:
    i-kun-mode: false
    process-index-mode: smoothly
    print-dsl: true

# 消息总线配置
eventbus:
  type: redis

# 日志配置
logging.level:
  org.flywaydb: warn
  org.dromara.autotable: warn
  easy-es: warn

# 其它配置
# ===================================================================
