spring.datasource:
  driver-class-name: com.mysql.cj.jdbc.Driver
  url: jdbc:mysql://project-mysql:3306/project?useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
  username: root
  password: pwd123456
  hikari:
    minimum-idle: 10
    connection-test-query: SELECT 1
    maximum-pool-size: 20
    idle-timeout: 30000
    max-lifetime: 60000
    auto-commit: true
    pool-name: PrimaryHikariCP
    connection-timeout: 10000

spring.redis:
  database: 0
  host: project-redis
  port: 6379
  password: pwd123456
  timeout: 10s
  lettuce:
    pool:
      max-active: 200
      max-idle: 20
      max-wait: 10s
      min-idle: 10
    shutdown-timeout: 3s

dromara.x-file-storage:
  default-platform: minio
  minio:
    - platform: minio
      enable-storage: true
      access-key: minio
      secret-key: pwd123456
      end-point: http://project-minio:9000
      bucket-name: project
      domain: http://project-minio:9001/browser/project/
      base-path: prod/

easy-es:
  address: project-es:9200
  username: elastic
  password: pwd123456
