APP_NAME=project

# 密码
MYSQL_PASSWORD=pwd123456
MINIO_PASSWORD=pwd123456
REDIS_PASSWORD=pwd123456
ES_PASSWORD=pwd123456

# 端口
QDRANT_GRPC_PORT=3234
QDRANT_HTTP_PORT=3233
MYSQL_PORT=3206
MINIO_CONSOLE_PORT=3201
MINIO_API_PORT=3200
REDIS_PORT=3279
NGINX_HTTPS_PORT=3243
NGINX_HTTP_PORT=3280
ES_TRANSPORT_PORT=3203
ES_HTTP_PORT=3202
BACKUP_PORT=3277
SERVICE_PORT=3288

# JVM
JAVA_OPTS="-Xms2048M -Xmx2048M -Xmn512m"
